<template>
  <div class="wall overflow-hidden">
    <MainHeader />
    <main class="flex">
      <CreateUserForm />
    </main>
  </div>
</template>

<script lang="js">
import MainHeader from '../components/MainHeader.vue';
import CreateUserForm from '../components/CreateUserForm.vue';

export default {
  name: 'Wall',
  components: {
    MainHeader,
    CreateUserForm,
  },
  setup() {
  },
};
</script>

<style scoped>
</style>
