<template>
  <div class="friends">
    <MainHeader />
    <main class="flex">
      <GroupRequests />
    </main>
  </div>
</template>

<script>
import MainHeader from '../components/MainHeader.vue';
import GroupRequests from '../components/GroupOverview.vue';

export default {
  name: 'Friends',
  components: {
    MainHeader,
    GroupRequests,
  },
};
</script>

<style scoped>
</style>
