<template>
  <div class="h-screen overflow-auto">
    <div
      class="
        container
        mx-auto
        flex flex-wrap
        p-5
        flex-col
        md:flex-row
        items-center
        overflow-auto
      "
    >
      <router-link
        to="/bizhub"
        class="
          flex
          title-font
          font-medium
          items-center
          text-gray-900
          mb-4
          md:mb-0
        "
      >
        <img
          src="../assets/bizhub-sample-logo.png"
          alt="Logo"
          width="100"
          loading="lazy"
          class="cursor-pointer"
        >
        <span class="ml-3 text-xl">BIZHUB</span>
      </router-link>
      <nav
        class="
          md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400
          flex flex-wrap
          items-center
          text-base
          justify-center
        "
      >
        <a
          class="mr-5 hover:text-gray-900 cursor-pointer"
          @click="scrollA"
        >About Bizhub</a>
        <a
          class="mr-5 hover:text-gray-900 cursor-pointer"
          @click="scrollP"
        >Prices</a>
      </nav>
      <div
        class="md:ml-auto flex flex-wrap items-center text-base justify-center"
      >
        <router-link
          to="/register"
          tag="button"
          class="
            inline-flex
            items-center
            bg-gray-200
            border-0
            py-1
            px-3
            focus:outline-none
            hover:bg-gray-300
            rounded
            text-base
            mt-4
            md:mt-0
          "
        >
          Register
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7" />
          </svg>
        </router-link>
        <span class="px-2" />
        <router-link
          to="/login"
          tag="button"
          class="
            inline-flex
            items-center
            bg-gray-200
            border-0
            py-1
            px-3
            focus:outline-none
            hover:bg-gray-300
            rounded
            text-base
            mt-4
            md:mt-0
          "
        >
          Sign in
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3
              3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
            />
          </svg>
        </router-link>
      </div>
    </div>
    <section
      class="text-gray-700 body-font overflow-hidden border-t border-gray-200"
    >
      <div
        class="
          relative
          pt-16
          pb-32
          flex
          content-center
          items-center
          justify-center
        "
        style="min-height: 75vh"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="
            background-image: url('https://cdn.pixabay.com/photo/2019/04/07/08/56/network-4109223_960_720.jpg');
          "
        >
          <span class="w-full h-full absolute opacity-75 bg-black" />
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-5xl">
                  Better. Together.
                </h1>
                <p class="mt-4 text-lg text-gray-300">
                  Bizhub is an application for a remote work suitable workspace
                  for your team, where knowledge and collaboration meet
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      ref="about"
      class="text-gray-600 body-font"
    >
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
          <h1
            class="
              sm:text-3xl
              text-2xl
              font-medium
              title-font
              text-gray-900
              mb-4
            "
          >
            Bizhub - One hub to bring them all together
          </h1>
          <p
            class="
              text-base
              leading-relaxed
              xl:w-2/4
              lg:w-3/4
              mx-auto
              text-gray-500s
            "
          >
            Share ideas and discuss important and current topics via blogs and
            posts with all colleagues or specific groups.
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex" />
          </div>
        </div>
        <div
          class="
            flex flex-wrap
            sm:-m-4
            -mx-4
            -mb-10
            -mt-4
            md:space-y-0
            space-y-6
          "
        >
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div
              class="
                w-20
                h-20
                inline-flex
                items-center
                justify-center
                rounded-full
                bg-blue-100
                text-blue-500
                mb-5
                flex-shrink-0
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10"
                viewBox="0 0 24 24"
              >
                <path
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2
                   2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                />
              </svg>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                Posts
              </h2>
              <p class="leading-relaxed text-base">
                Create posts to share experiences, useful information, tips or
                current company topics with work colleagues. Show others what
                you like and comment on your experience/knowledge of the topics.
              </p>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div
              class="
                w-20
                h-20
                inline-flex
                items-center
                justify-center
                rounded-full
                bg-blue-100
                text-blue-500
                mb-5
                flex-shrink-0
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10
                  0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3
                   3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0
                    0a5.002 5.002 0 019.288 0M15 7a3
                    3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0
                     2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                Groups
              </h2>
              <p class="leading-relaxed text-base">
                Create groups to share and discuss with different people in the
                company. Also to improve collaboration in projects.
              </p>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div
              class="
                w-20
                h-20
                inline-flex
                items-center
                justify-center
                rounded-full
                bg-blue-100
                text-blue-500
                mb-5
                flex-shrink-0
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10"
                viewBox="0 0 24 24"
              >
                <path
                  d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994
                   1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0
                    00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                />
              </svg>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                Chat
              </h2>
              <p class="leading-relaxed text-base">
                Meetings for lunch, a common coffee in the kitchen or topics
                that need to be discussed can be arranged quickly and easily via
                the direct chat function.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center pb-10">
        <p>
          While happily collaborating our customers left  {{ usageStats.commentCount }}
          comments and {{ usageStats.likeCount }} likes already! Join them today!
        </p>
      </div>
    </section>
    <section
      ref="price"
      class="text-gray-700 body-font overflow-hidden border-t border-gray-200"
    >
      <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="lg:w-1/4 mt-48 hidden lg:block">
          <div
            class="
              mt-px
              border-t border-gray-300 border-b border-l
              rounded-tl-lg rounded-bl-lg
              overflow-hidden
            "
          >
            <p
              class="
                bg-gray-100
                text-gray-900
                h-12
                text-center
                px-4
                flex
                items-center
                justify-start
                -mt-px
              "
            >
              #User
            </p>
            <p
              class="
                text-gray-900
                h-12
                text-center
                px-4
                flex
                items-center
                justify-start
              "
            >
              #Groups
            </p>
            <p
              class="
                bg-gray-100
                text-gray-900
                h-12
                text-center
                px-4
                flex
                items-center
                justify-start
              "
            >
              Fixed prices
            </p>
            <p
              class="
                text-gray-900
                h-12
                text-center
                px-4
                flex
                items-center
                justify-start
              "
            >
              Shared standard instances
            </p>
            <p
              class="
                bg-gray-100
                text-gray-900
                h-12
                text-center
                px-4
                flex
                items-center
                justify-start
              "
            >
              Own instance
            </p>
            <p
              class="
                text-gray-900
                h-12
                text-center
                px-4
                flex
                items-center
                justify-start
              "
            >
              Fixed prices
            </p>
          </div>
        </div>
        <div
          class="
            flex
            lg:w-3/4
            w-full
            flex-wrap
            lg:border
            border-gray-300
            rounded-lg
          "
        >
          <div
            class="
              lg:w-1/3 lg:mt-px
              w-full
              mb-10
              lg:mb-0
              border-2 border-gray-300
              lg:border-none
              rounded-lg
              lg:rounded-none
            "
          >
            <div
              class="
                px-2
                text-center
                h-48
                flex flex-col
                items-center
                justify-center
              "
            >
              <h3 class="tracking-widest">
                Start for
              </h3>
              <h2
                class="
                  text-5xl text-gray-900
                  font-medium
                  leading-none
                  mb-4
                  mt-2
                "
              >
                Free
              </h2>
              <span class="text-sm text-gray-600">with our free plan</span>
            </div>
            <p
              class="
                bg-gray-100
                text-gray-600
                h-12
                text-center
                px-2
                flex
                items-center
                -mt-px
                justify-center
                border-t border-gray-300
              "
            >
              Up to 5 users
            </p>
            <p
              class="
                text-red-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.2"
                class="w-5 h-5 text-red-500"
                viewBox="0 0 24 24"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </p>
            <p
              class="
                text-red-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.2"
                class="w-5 h-5 text-red-500"
                viewBox="0 0 24 24"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </p>
            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <p
              class="
                text-red-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.2"
                class="w-5 h-5 text-red-500"
                viewBox="0 0 24 24"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </p>
            <p
              class="
                text-red-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.2"
                class="w-5 h-5 text-red-500"
                viewBox="0 0 24 24"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </p>
            <div class="border-t border-gray-300 p-6 text-center rounded-bl-lg">
              <router-link
                to="/register"
                tag="button"
                class="
                  uppercase
                  flex
                  items-center
                  mt-auto
                  text-white
                  bg-blue-500
                  border-0
                  py-2
                  px-4
                  w-full
                  focus:outline-none
                  hover:bg-blue-600
                  rounded
                "
              >
                Start your free trial!
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7" />
                </svg>
              </router-link>
              <p class="text-xs text-gray-500 mt-3">
                If you want.
              </p>
            </div>
          </div>
          <div
            class="
              lg:w-1/3 lg:-mt-px
              w-full
              mb-10
              lg:mb-0
              border-2
              rounded-lg
              border-blue-500
              relative
            "
          >
            <span
              class="
                bg-blue-500
                text-white
                px-3
                py-1
                tracking-widest
                text-xs
                absolute
                right-0
                top-0
                rounded-bl
              "
            >POPULAR</span>
            <div
              class="
                px-2
                text-center
                h-48
                flex flex-col
                items-center
                justify-center
              "
            >
              <h3 class="tracking-widest">
                PREMIUM
              </h3>
              <h2
                class="
                  text-5xl text-gray-900
                  font-medium
                  flex
                  items-center
                  justify-center
                  leading-none
                  mb-4
                  mt-2
                "
              >
                $3
                <span class="text-gray-600 text-base ml-1">/mo/user</span>
              </h2>
            </div>
            <p
              class="
                bg-gray-100
                text-gray-600
                h-12
                text-center
                px-2
                flex
                items-center
                -mt-px
                justify-center
                border-t border-gray-300
              "
            >
              Up to 20 users
            </p>
            <p
              class="
                bg-gray-100
                text-gray-600
                h-12
                text-center
                px-2
                flex
                items-center
                -mt-px
                justify-center
                border-gray-300
              "
            >
              Up to 10 groups
            </p>

            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <p
              class="
                text-red-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.2"
                class="w-5 h-5 text-red-500"
                viewBox="0 0 24 24"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </p>
            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <div class="p-6 text-center border-t border-gray-300">
              <router-link
                to="/register"
                tag="button"
                class="
                  uppercase
                  flex
                  items-center
                  mt-auto
                  text-white
                  bg-blue-500
                  border-0
                  py-2
                  px-4
                  w-full
                  focus:outline-none
                  hover:bg-blue-600
                  rounded
                "
              >
                Get your Pro Version!
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7" />
                </svg>
              </router-link>
              <p class="text-xs text-gray-500 mt-3">
                If you need it!
              </p>
            </div>
          </div>
          <div
            class="
              lg:w-1/3
              w-full
              lg:mt-px
              border-2 border-gray-300
              lg:border-none
              rounded-lg
              lg:rounded-none
            "
          >
            <div
              class="
                px-2
                text-center
                h-48
                flex flex-col
                items-center
                justify-center
              "
            >
              <h3 class="tracking-widest">
                ENTERPRISE
              </h3>
              <span class="text-gray-600 text-base ml-1">Starting from</span>
              <h2
                class="
                  text-5xl text-gray-900
                  font-medium
                  flex
                  items-center
                  justify-center
                  leading-none
                  mb-4
                  mt-2
                "
              >
                100$
                <span class="text-gray-600 text-base ml-1">/mo</span>
              </h2>
              <span class="text-sm text-gray-600" />
            </div>
            <p
              class="
                bg-gray-100
                text-gray-600
                h-12
                text-center
                px-2
                flex
                items-center
                -mt-px
                justify-center
                border-t border-gray-300
              "
            >
              No user limit
            </p>
            <p
              class="
                bg-gray-100
                text-gray-600
                h-12
                text-center
                px-2
                flex
                items-center
                -mt-px
                justify-center
                border-gray-300
              "
            >
              No group limit
            </p>

            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <p
              class="
                text-red-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.2"
                class="w-5 h-5 text-red-500"
                viewBox="0 0 24 24"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </p>

            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <p
              class="
                bg-gray-100
                text-gray-600 text-center
                h-12
                flex
                items-center
                justify-center
              "
            >
              <span
                class="
                  w-5
                  h-5
                  inline-flex
                  items-center
                  justify-center
                  bg-green-500
                  text-white
                  rounded-full
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 6L9 17l-5-5" />
                </svg>
              </span>
            </p>
            <div class="p-6 text-center border-t border-gray-300">
              <button
                type="button"
                class="
                  uppercase
                  flex
                  items-center
                  mt-auto
                  text-white
                  bg-blue-500
                  border-0
                  py-2
                  px-4
                  w-full
                  focus:outline-none
                  hover:bg-blue-600
                  rounded
                "
                @click="toggleModal()"
              >
                Get your own offer!
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7" />
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Send us a message.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
    <div
      v-if="showModal"
      class="
        modal
        fixed
        inset-0
        bg-opacity-40 bg-gray-900
        flex
        justify-center
        items-center
      "
    >
      <div
        class="
          overflow-x-hidden overflow-y-auto
          fixed
          inset-0
          z-50
          outline-none
          focus:outline-none
          justify-center
          items-center
          flex
        "
      >
        <div
          class="
            min-h-screen
            flex flex-col
            items-center
            justify-center
            overflow-auto
          "
        >
          <div
            class="
              flex flex-col
              bg-white
              shadow-md
              px-4
              sm:px-6
              md:px-8
              lg:px-10
              py-8
              rounded-3xl
              w-50
              max-w-md
            "
          >
            <div
              class="flex flex-col text-center md:grid md:grid-cols-3 md:gap-6"
            >
              <div />
              <div
                class="
                  p-2
                  w-20
                  h-20
                  inline-flex
                  items-center
                  justify-center
                  rounded-full
                  bg-blue-100
                  text-blue-500
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5
                     19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
              </div>
              <div class="flex justify-end">
                <button @click="closeModal">
                  <XIcon
                    class="
                      p-2
                      h-10
                      w-10
                      rounded-full
                      text-gray-700
                      hover:bg-gray-100
                    "
                  />
                  <button />
                </button>
              </div>
            </div>
            <label class="block mb-6">
              <span class="text-gray-700">Your name</span>
              <input
                v-model="name"
                type="text"
                name="name"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                placeholder="Max Mustermann"
              >
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Email address</span>
              <input
                v-model="emailAdress"
                name="email"
                type="email"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                placeholder="max.mustermann@example.com"
                required
              >
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Your company</span>
              <input
                v-model="company"
                type="text"
                name="company"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                placeholder="Bizhub"
              >
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Message</span>
              <textarea
                v-model="message"
                name="message"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                rows="3"
                placeholder="Tell us what you're thinking about..."
              />
            </label>
            <div class="mb-6">
              <div
                class="flex
                  mt-2
                  items-center
                  justify-center
                  focus:outline-none
                  text-white text-sm
                  sm:text-base
                  bg-blue-500
                  hover:bg-blue-600
                  rounded-2xl
                  py-2
                  w-full
                  transition
                  duration-150
                  ease-in"
              >
                <input
                  type="submit"
                  class=" bg-blue-500 pr-2 hover:bg-blue-600"
                  value="Contact us"
                  @click="sendEmail"
                >
                <span>
                  <svg
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                    />
                    <path
                      d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                    />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Alert
      :group="group"
      :title="title"
      :text="text"
    />
  </div>
</template>

<script lang="js">
import { ref, onMounted } from 'vue';
import {
  XIcon,
} from '@heroicons/vue/solid';
import emailjs from 'emailjs-com';
import { notify } from 'notiwind';
import Footer from '../components/Footer.vue';
import api from '../API';
import Alert from '../components/Notifications/Alert.vue';

export default {
  components: { XIcon, Footer, Alert },
  setup() {
    const about = ref('');
    const price = ref('');
    const name = ref('');
    const emailAdress = ref('');
    const company = ref('');
    const message = ref('');
    const usageStats = ref('loading');
    const showModal = ref(false);
    const toggleModal = () => {
      showModal.value = true;
    };
    const closeModal = () => {
      showModal.value = false;
    };
    const scrollA = () => {
      const scrollAbout = about.value;
      scrollAbout.scrollIntoView();
    };
    const scrollP = () => {
      const scrollPrice = price.value;
      scrollPrice.scrollIntoView();
    };

    const sendEmail = () => {
      emailjs.init('user_BMk5ffbYTVOuT27cQFtNE');
      const data = {
        from_name: name.value,
        from_organisation: company.value,
        message: message.value,
        email: emailAdress.value,
      };
      emailjs.send(
        'service_dgxl1co',
        'template_5ga6b7j',
        data,
      ).then((response) => {
        console.log('SUCCESS!', response.status, response.text);
        closeModal();
        notify(
          {
            group: 'top-success',
            title: 'Success',
            text: 'Your email was successful!',
          },
          4000,
        );
      }).catch((error) => {
        notify(
          {
            group: 'top-error',
            title: 'Error',
            text: 'Something went wrong!',
          },
          4000,
        );
        console.log('FAILED...', error);
      });
    };

    const fetchUsageStats = async () => {
      await api.get('/posts/user-interactions')
        .then((response) => {
          usageStats.value = response.data;
          console.log(usageStats.value);
        }).catch((error) => {
          console.log(error);
        });
    };

    onMounted(() => {
      fetchUsageStats();
    });

    return {
      name,
      emailAdress,
      company,
      message,
      showModal,
      toggleModal,
      closeModal,
      about,
      price,
      scrollA,
      scrollP,
      usageStats,
      sendEmail,
    };
  },
};
</script>

<style scoped>
</style>
