<template>
  <div class="overflow-hidden">
    <div class="login grid place-items-center p-0">
      <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="
          background-image: url('https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475661_1280.jpg');
        "
      >
        <span class="w-full h-full absolute opacity-75 bg-black"/>
      </div>
      <div class="container relative mx-auto">
        <div
            class="
      min-h-screen
      flex flex-col
      items-center
      justify-center
      overflow-auto
    "
        >
          <div
              class="
        flex flex-col
        bg-white
        shadow-md
        px-4
        sm:px-6
        md:px-8
        lg:px-10
        py-8
        rounded-3xl
        w-50
        max-w-md
      "
          >

            <div
                v-if="tenantIds.length > 1"
                class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 rounded-xl" role="alert">
              <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                    d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/>
              </svg>
              <p>It seems there is more than one member with your name! Pleas choose your company from the list
                below.</p>
            </div>


            <div class="flex justify-center pt-4"
            v-if="tenantIds.length > 1"
            >
              <div class="mb-3 xl:w-96">
                <select class="
                                form-select
                                appearance-none
                                block
                                w-full
                                px-3
                                py-1.5
                                text-base
                                font-normal
                                text-gray-700
                                bg-white bg-clip-padding bg-no-repeat
                                border border-solid border-gray-300
                                rounded
                                transition
                                ease-in-out
                                m-0
                                focus:text-gray-700
                                focus:bg-white
                                focus:border-blue-600
                                focus:outline-none"
                        aria-label="Tenant ID Selection"
                >
                  <option
                      v-for="id in tenantIds"
                      @click="pickLoginTenant(id)"
                  >
                    {{ id }}
                  </option>
                </select>
              </div>
            </div>


            <div class="font-medium self-center text-xl sm:text-3xl text-gray-800">
              {{ tenantName }} Login
            </div>
            <div class="mt-4 self-center text-xl sm:text-sm text-gray-800">
              Enter your E-Mail and password to log in.
            </div>
            <div class="mt-10">
              <div class="flex flex-col mb-5">
                <label
                    for="email"
                    class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >E-Mail:</label>
                <div class="relative">
                  <div
                      class="
                  inline-flex
                  items-center
                  justify-center
                  absolute
                  left-0
                  top-0
                  h-full
                  w-10
                  text-gray-400
                "
                  >
                    <i class="fas fa-at text-blue-500"/>
                  </div>
                  <input
                      id="email"
                      v-model="emailAdress"
                      type="email"
                      name="email"
                      class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                      placeholder="Enter your email"
                      :class="{'border-red-500' : v$.emailAdress.$error}"
                      @blur="v$.emailAdress.$touch()"
                  >
                  <div
                      v-for="error of v$.emailAdress.$errors"
                      :key="error.$uid"
                      class="input-errors"
                  >
                    <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col mb-6">
                <label
                    for="password"
                    class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Password:</label>
                <div class="relative">
                  <div
                      class="
                  inline-flex
                  items-center
                  justify-center
                  absolute
                  left-0
                  top-0
                  h-full
                  w-10
                  text-gray-400
                "
                  >
                    <span>
                      <i class="fas fa-lock text-blue-500"/>
                    </span>
                  </div>
                  <input
                      id="password"
                      v-model="password"
                      type="password"
                      name="password"
                      class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                      placeholder="Enter your password"
                      :class="{'border-red-500' : v$.password.$error}"
                      @blur="v$.password.$touch()"
                  >
                  <div
                      v-for="error of v$.password.$errors"
                      :key="error.$uid"
                      class="input-errors"
                  >
                    <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex w-full">
                <button
                    class="
                flex
                mt-2
                items-center
                justify-center
                focus:outline-none
                text-white text-sm
                sm:text-base
                bg-blue-500
                hover:bg-blue-600
                rounded-2xl
                py-2
                w-full
                transition
                duration-150
                ease-in
              "
                    @click="signInUser"
                >
                  <span class="mr-2 uppercase">Log In</span>
                  <span>
                    <svg
                        class="h-6 w-6"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                      <path
                          d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div class="flex justify-center items-center mt-6">
              <router-link
                  to="/register"
                  class="
          inline-flex
          items-center
          text-gray-700
          font-medium
          text-sm text-center
        "
              >
                <span class="ml-2">Don't have an account yet?
                  <router-link
                      to="/register"
                      class="text-sm ml-2 text-blue-500 font-semibold"
                  >Register here</router-link></span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Alert
        :group="group"
        :title="title"
        :text="text"
    />
  </div>
</template>

<script lang="js">
import {ref, computed, onMounted} from 'vue';
import {useRoute} from 'vue-router';
import {useStore} from 'vuex';
import useVuelidate from '@vuelidate/core';
import {
  required, email, minLength, helpers,
} from '@vuelidate/validators';
import {notify} from 'notiwind';
import Alert from '../components/Notifications/Alert.vue';
import api from '../API';
import {TrashIcon} from "@heroicons/vue/outline";
import {ChevronDownIcon} from "@heroicons/vue/outline/index";

export default {
  name: 'Login',
  components: {Alert, ChevronDownIcon},
  setup() {
    const vuexStore = useStore();

    const tenantName = useRoute().params.id;
    const emailAdress = ref('');
    const password = ref('');
    const tenantId = ref(tenantName);
    const tenantIds = ref([]);
    const rules = computed(() => ({
      emailAdress: {
        required: helpers.withMessage('This field cannot be empty', required), email,
      },
      password: {required, min: minLength(8)},
    }));
    const v$ = useVuelidate(rules, {emailAdress, password});

    const signInUser = () => {
      if (!v$.value.$invalid) {
        vuexStore.dispatch('signInAction', {
          email: emailAdress.value,
          password: password.value,
          tenantId: tenantId.value
        });
      } else {
        notify(
            {
              group: 'top-error',
              title: 'Error',
              text: 'Something went wrong! Please check your email or password.',
            },
            4000,
        );
      }
    };

    const getTenantIdByName = async () => {
      await api.get(`/tenant-id/${useRoute().params.id}`)
          .then((response) => {
            tenantId.value = response.data[0];
            tenantIds.value = response.data
          })
          .catch((error) => {
            console.log(error);
          });
    };

    const pickLoginTenant = (newTenantId) => {
      console.log("tenantId" + newTenantId)
      tenantIds.value = [newTenantId]
      tenantId.value = newTenantId
    }

    onMounted(() => {
      getTenantIdByName();
    });

    return {
      signInUser, emailAdress, password, v$, tenantIds, tenantName, pickLoginTenant, tenantId
    };
  },
};
</script>

<style scoped>
.login > img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.login > div > button:first-child {
  border: 1px solid #45619d;
  background-color: #45619d;
  transition: all 0.3s ease-in-out;
  margin: 20px 5px;
}

.login > div > button:first-child:hover {
  background-color: transparent;
  color: #45619d;
}

</style>
