<template>
  <div class="h-screen overflow-auto">
    <div
      class="
        relative
        pt-0
        pb-0
        flex
        content-center
        items-center
        justify-center
      "
    >
      <div
        class="absolute p-0 top-0 w-full h-full bg-center bg-cover"
        style="
          background-image: url('https://cdn.pixabay.com/photo/2017/11/12/22/50/human-2944064_960_720.jpg');
        "
      >
        <span class="w-full h-full absolute opacity-75 bg-black" />
      </div>
      <div class="container relative mx-auto">
        <div class="min-h-screen flex flex-col items-center justify-center">
          <div
            class="
              flex flex-col
              bg-white
              shadow-md
              px-4
              sm:px-6
              md:px-8
              lg:px-10
              py-5
              rounded-3xl
              w-50
              max-w-md
            "
          >
            <div
              class="font-medium self-center text-xl sm:text-3xl text-gray-800"
            >
              Register
            </div>
            <div class="mt-3 self-center text-xl sm:text-sm text-gray-800">
              Enter your credentials and your organsiation!
            </div>
            <div class="mt-3">
              <div class="flex flex-col mb-5">
                <label
                  for="tier"
                  class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Tier:</label>
                <div class="relative">
                  <div
                    class="
                      inline-flex
                      items-center
                      justify-center
                      absolute
                      left-0
                      top-0
                      h-full
                      w-10
                      text-gray-400
                    "
                  >
                    <i class="fas fa-tier text-blue-500" />
                  </div>
                  <select
                    v-model="tier"
                    class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                    placeholder="Tier"
                    :class="{'border-red-500' : v$.tier.$error}"
                    @change="toggleModal"
                    @blur="v$.tier.$touch()"
                  >
                    <option value="Free">
                      Free
                    </option>
                    <option value="Premium">
                      Premium
                    </option>
                    <option
                      class="text-gray-400"
                      value="Enterprise"
                    >
                      Enterprise
                    </option>
                  </select>
                  <div
                    v-for="error of v$.tier.$errors"
                    :key="error.$uid"
                    class="input-errors"
                  >
                    <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col mb-5">
                <label
                  class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Organisation:</label>
                <div class="relative">
                  <div
                    class="
                      inline-flex
                      items-center
                      justify-center
                      absolute
                      left-0
                      top-0
                      h-full
                      w-10
                      text-gray-400
                    "
                  >
                    <i class="fas fa-orga text-blue-500" />
                  </div>

                  <input
                    id="orga"
                    v-model="orga"
                    type="orga"
                    name="orga"
                    class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                    "
                    placeholder="Enter your Organisation"
                    :class="{ 'border-red-500': v$.orga.$error }"
                    @blur="v$.orga.$touch()"
                  >
                  <div
                    v-for="error of v$.orga.$errors"
                    :key="error.$uid"
                    class="input-errors"
                  >
                    <div
                      class="
                        error-msg
                        mb-1
                        text-xs
                        sm:text-sm
                        tracking-wide
                        text-red-400
                      "
                    >
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col mb-5">
                <label
                  for="email"
                  class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Name:</label>
                <div class="relative">
                  <div
                    class="
                      inline-flex
                      items-center
                      justify-center
                      absolute
                      left-0
                      top-0
                      h-full
                      w-10
                      text-gray-400
                    "
                  >
                    <i class="fas fa-user text-blue-500" />
                  </div>

                  <input
                    id="name"
                    v-model="name"
                    type="name"
                    name="name"
                    class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                    "
                    placeholder="Enter your name"
                    :class="{ 'border-red-500': v$.name.$error }"
                    @blur="v$.name.$touch()"
                  >
                  <div
                    v-for="error of v$.name.$errors"
                    :key="error.$uid"
                    class="input-errors"
                  >
                    <div
                      class="
                        error-msg
                        mb-1
                        text-xs
                        sm:text-sm
                        tracking-wide
                        text-red-400
                      "
                    >
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col mb-5">
                <label
                  for="surname"
                  class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Surname:</label>
                <div class="relative">
                  <div
                    class="
                      inline-flex
                      items-center
                      justify-center
                      absolute
                      left-0
                      top-0
                      h-full
                      w-10
                      text-gray-400
                    "
                  >
                    <i class="fas fa-user text-blue-500" />
                  </div>

                  <input
                    id="surname"
                    v-model="surname"
                    type="surname"
                    name="surname"
                    class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                    "
                    placeholder="Enter your name"
                    :class="{ 'border-red-500': v$.surname.$error }"
                    @blur="v$.surname.$touch()"
                  >
                  <div
                    v-for="error of v$.surname.$errors"
                    :key="error.$uid"
                    class="input-errors"
                  >
                    <div
                      class="
                        error-msg
                        mb-1
                        text-xs
                        sm:text-sm
                        tracking-wide
                        text-red-400
                      "
                    >
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col mb-5">
                <label
                  for="email"
                  class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >E-Mail Address:</label>
                <div class="relative">
                  <div
                    class="
                      inline-flex
                      items-center
                      justify-center
                      absolute
                      left-0
                      top-0
                      h-full
                      w-10
                      text-gray-400
                    "
                  >
                    <i class="fas fa-at text-blue-500" />
                  </div>
                  <input
                    id="email"
                    v-model="emailAdress"
                    type="email"
                    name="email"
                    class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                    "
                    :class="{ 'border-red-500': v$.emailAdress.$error }"
                    placeholder="Enter your email"
                    @blur="v$.emailAdress.$touch()"
                  >
                </div>
                <div
                  v-for="error of v$.emailAdress.$errors"
                  :key="error.$uid"
                  class="input-errors"
                >
                  <div
                    class="
                      error-msg
                      mb-1
                      text-xs
                      sm:text-sm
                      tracking-wide
                      text-red-400
                    "
                  >
                    {{ error.$message }}
                  </div>
                </div>
              </div>
              <div class="flex flex-col mb-6">
                <label
                  for="password"
                  class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Password:</label>
                <div class="relative">
                  <div
                    class="
                      inline-flex
                      items-center
                      justify-center
                      absolute
                      left-0
                      top-0
                      h-full
                      w-10
                      text-gray-400
                    "
                  >
                    <span>
                      <i class="fas fa-lock text-blue-500" />
                    </span>
                  </div>

                  <input
                    id="password"
                    v-model="password"
                    type="password"
                    name="password"
                    class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                    "
                    placeholder="Enter your password"
                    :class="{ 'border-red-500': v$.password.$error }"
                    @blur="v$.password.$touch()"
                  >

                  <div
                    v-for="error of v$.password.$errors"
                    :key="error.$uid"
                    class="input-errors"
                  >
                    <div
                      class="
                        error-msg
                        mb-1
                        text-xs
                        sm:text-sm
                        tracking-wide
                        text-red-400
                      "
                    >
                      {{ error.$message }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex w-full">
                <button
                  class="
                    flex
                    mt-2
                    items-center
                    justify-center
                    focus:outline-none
                    text-white text-sm
                    sm:text-base
                    bg-blue-500
                    hover:bg-blue-600
                    rounded-2xl
                    py-5
                    w-full
                    transition
                    duration-150
                    ease-in
                  "
                  @click="signUp"
                >
                  <span class="mr-2 uppercase">Sign Up</span>
                  <span>
                    <svg
                      class="h-6 w-6"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </span>
                </button>
              </div>
              <div class="flex justify-center items-center mt-3">
                <router-link
                  to="/login"
                  class="
                    inline-flex
                    items-center
                    text-gray-700
                    font-medium
                    text-sm text-center
                  "
                >
                  <span class="ml-2">You have an account?
                    <router-link
                      to="/login"
                      class="text-sm ml-2 text-blue-500 font-semibold"
                    >Login here</router-link></span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="showModal"
      id="modal"
      class="
        modal
        fixed
        inset-0
        bg-opacity-40 bg-gray-900
        flex
        justify-center
        items-center
      "
    >
      <div
        class="
          overflow-x-hidden overflow-y-auto
          fixed
          inset-0
          z-50
          outline-none
          focus:outline-none
          justify-center
          items-center
          flex
        "
      >
        <div
          class="
            min-h-screen
            flex flex-col
            items-center
            justify-center
            overflow-auto
          "
        >
          <div
            class="
              flex flex-col
              bg-white
              shadow-md
              px-4
              sm:px-6
              md:px-8
              lg:px-10
              py-8
              rounded-3xl
              w-50
              max-w-md
            "
          >
            <div
              class="flex flex-col text-center md:grid md:grid-cols-3 md:gap-6"
            >
              <div />
              <div
                class="
                  p-2
                  w-20
                  h-20
                  inline-flex
                  items-center
                  justify-center
                  rounded-full
                  bg-blue-100
                  text-blue-500
                  flex-shrink-0
                "
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5
                     19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
              </div>
              <div class="flex justify-end">
                <button @click="closeModal">
                  <XIcon
                    class="
                      p-2
                      h-10
                      w-10
                      rounded-full
                      text-gray-700
                      hover:bg-gray-100
                    "
                  />
                  <button />
                </button>
              </div>
            </div>
            <label class="block mb-6">
              <span class="text-gray-700">Your name</span>
              <input
                v-model="nameModal"
                type="text"
                name="name"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                placeholder="Max Mustermann"
              >
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Email address</span>
              <input
                v-model="emailAdressModal"
                name="email"
                type="email"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                placeholder="max.mustermann@example.com"
                required
              >
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Your company</span>
              <input
                v-model="companyModal"
                type="text"
                name="company"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                placeholder="Bizhub"
              >
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Message</span>
              <textarea
                v-model="messageModal"
                name="message"
                class="
                  text-sm
                  placeholder-gray-500
                  pl-10
                  pr-4
                  rounded-2xl
                  border border-gray-400
                  w-full
                  py-2
                  focus:outline-none focus:border-blue-400
                "
                rows="3"
                placeholder="Tell us what you're thinking about..."
              />
            </label>
            <div
              class="mb-6 flex
                  mt-2
                  items-center
                  justify-center
                  focus:outline-none
                  text-white text-sm
                  sm:text-base
                  bg-blue-500
                  hover:bg-blue-600
                  rounded-2xl
                  py-2
                  w-full
                  "
            >
              <input
                type="submit"
                class=" bg-blue-500 pr-2 hover:bg-blue-600
"
                value="Contact us"
                @click="sendEmail"
              >
              <span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  />
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Alert
      :group="group"
      :title="title"
      :text="text"
    />
  </div>
</template>

<script lang="js">
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import useVuelidate from '@vuelidate/core';
import {
  required, email, minLength, helpers, maxLength,
} from '@vuelidate/validators';
import {
  XIcon,
} from '@heroicons/vue/solid';
import { notify } from 'notiwind';
import emailjs from 'emailjs-com';
import Alert from '../components/Notifications/Alert.vue';

export default {
  components: { Alert, XIcon },
  setup() {
    const orga = ref('');
    const tier = ref('');
    const name = ref('');
    const surname = ref('');
    const emailAdress = ref('');
    const password = ref('');
    const nameModal = ref('');
    const companyModal = ref('');
    const messageModal = ref('');
    const emailAdressModal = ref('');
    const showModal = ref(false);
    const toggleModal = (event) => {
      if (event.target.value === 'Enterprise') {
        showModal.value = true;
      }
    };
    const closeModal = () => {
      showModal.value = false;
    };
    const regOrga = helpers.regex(/^[A-Z]+[a-z\d-]*$/i);
    const rules = computed(() => ({
      orga: {
        required,
        regOrga: helpers.withMessage('Organisation name start with a letter and only consist of letters, digits and hyphens with 4-20 characters.', regOrga),
        min: minLength(4),
        max: maxLength(20),
      },
      tier: { required, $lazy: true },
      name: { required },
      surname: { required },
      emailAdress: {
        required: helpers.withMessage('This field cannot be empty', required), email,
      },
      password: { required, min: minLength(8) },
    }));
    const v$ = useVuelidate(rules, {
      orga, tier, name, surname, emailAdress, password,
    });
    const vuexStore = useStore();
    const signUp = () => {
      if (tier.value === 'Enterprise') {
        notify(
          {
            group: 'top-error',
            title: 'Error',
            text: 'For Enterprise please contact us!',
          },
          4000,
        );
      } else
      if (!v$.value.$invalid) {
        vuexStore.dispatch('signUpAction', {
          tenantName: orga.value,
          tier: tier.value,
          name: name.value,
          surname: surname.value,
          email: emailAdress.value,
          password: password.value,
        });
        notify(
          {
            group: 'top-success',
            title: 'Success',
            text: 'Your account was registered!',
          },
          4000,
        );
      } else {
        notify(
          {
            group: 'top-error',
            title: 'Error',
            text: 'There some errors in this registration!',
          },
          4000,
        );
      }
    };

    const sendEmail = () => {
      emailjs.init('user_BMk5ffbYTVOuT27cQFtNE');
      const data = {
        from_name: nameModal.value,
        from_organisation: companyModal.value,
        message: messageModal.value,
        email: emailAdressModal.value,
      };
      emailjs.send(
        'service_dgxl1co',
        'template_5ga6b7j',
        data,
      ).then((response) => {
        console.log('SUCCESS!', response.status, response.text);
        closeModal();
        notify(
          {
            group: 'top-success',
            title: 'Success',
            text: 'Your email was successful!',
          },
          4000,
        );
      }).catch((error) => {
        notify(
          {
            group: 'top-error',
            title: 'Error',
            text: 'Something went wrong!',
          },
          4000,
        );
        console.log('FAILED...', error);
      });
    };

    return {
      signUp,
      orga,
      tier,
      name,
      surname,
      emailAdress,
      password,
      v$,
      regOrga,
      showModal,
      toggleModal,
      closeModal,
      sendEmail,
      nameModal,
      companyModal,
      emailAdressModal,
      messageModal,
    };
  },

  methods: {},

};
</script>

<style>
</style>
