<template>
  <div class="wall overflow-hidden">
    <MainHeader />
    <main class="flex">
      <UserManagement />
    </main>
  </div>
</template>

<script lang="js">
import MainHeader from '../components/MainHeader.vue';
import UserManagement from '../components/UserManagement.vue';

export default {
  name: 'Wall',
  components: {
    MainHeader,
    UserManagement,
  },
  setup() {
  },
};
</script>

<style scoped>
</style>
