<template>
  <div class="wall overflow-hidden">
    <MainHeader />
    <main class="flex">
      <Feed
        :group-id="groupId ? '/groups/'+groupId : ''"
      />
    </main>
  </div>
</template>

<script lang="js">
import { useRoute } from 'vue-router';
import MainHeader from '../components/MainHeader.vue';
import Feed from '../components/Feed.vue';

export default {
  name: 'Wall',
  components: {
    MainHeader,
    Feed,
  },
  setup() {
    const { groupId } = useRoute().params;

    return {
      groupId,
    };
  },
};
</script>

<style scoped>
</style>
