<template>
  <div
    class="
        space-x-4
        pl-4
        pr-4
        pb-3
        flex
        bg-white
        dark:bg-white-opposite
        text-gray-400
      "
  >
    <img
      :src="photoURL"
      :alt="displayName"
      class="h-10 w-10 rounded-full object-cover"
      loading="lazy"
    >
    <div
      class="flex flex-col "
    >
      <div
        class="
        rounded-2xl
        h-auto
        bg-gray-100 dark:bg-gray-100-opposite
        p-2
        "
      >
        <!--TODO change color to differentiate between username and text-->
        <p
          class="ml-1 font-bold dark:text-gray-500-opposite"
          type="text"
        >
          {{ displayName }}:
        </p>
        <p
          class="ml-1 mt-1 dark:text-gray-500-opposite"
          type="text"
        >
          {{ comment }}
        </p>
      </div>
      <div
        v-if="storeUser.admin || storeUser.userId == commentAuthor
          || storeUser.userId == postAuthorId"
        class="flex justify-start ml-3 mt-1"
      >
        <button
          class="text-red-500 text-xs"
          @click="deleteComment"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="js">
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import api from '../API';

export default {
  components: { },
  props: ['comment', 'commentAuthor', 'timestamp', 'commentId', 'postId', 'removeFromArray', 'displayName', 'photoURL', 'postAuthorId'],
  setup(props) {
    const user = ref('');
    const store = useStore();
    const storeUser = computed(() => store.getters.getUser);

    const deleteComment = async () => {
      props.removeFromArray(props.commentId);
      await api.delete(`/posts/${props.postId}/comments/${props.commentId}`).then(() => {
      }).catch((error) => {
        console.log(error);
      });
    };

    return {
      user, deleteComment, storeUser,
    };
  },
};
</script>

<style scoped>

</style>
