<template>
  <div class="h-screen flex-grow flex-1 pb-44 pt-6 overflow-y-auto">
    <!-- Feeds -->
    <div class="mx-auto max-w-md md:max-w-lg lg:max-w-2xl">
      <div
        class="bg-white dark:bg-white-opposite
         p-2 rounded-2xl shadow-md text-gray-500 font-medium mt-6"
      >
        <div class="mt-10 sm:mt-0 p-2">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="px-4 sm:px-0">
              <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white">
                Admin Settings
              </h3>
              <p class="mt-1 text-sm text-gray-600 dark:text-gray-500-opposite">
                Create some user for your organisation.
              </p>
            </div>
            <div
              ref="form"
              class="mt-5 md:mt-0 md:col-span-2"
            >
              <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white dark:bg-white-opposite sm:p-6">
                  <div
                    class="grid grid-cols-6 gap-6"
                  >
                    <div
                      class="col-span-6 sm:col-span-4"
                    >
                      <label
                        for="username"
                        class="block text-sm font-medium text-gray-400 "
                      >Username</label>
                      <input
                        id="username"
                        v-model="username"
                        type="text"
                        name="username"
                        autocomplete="username"
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-10
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        :class="{'border-red-500' : v$.username.$error}"
                        @blur="v$.username.$touch()"
                      >
                      <div
                        v-for="error of v$.username.$errors"
                        :key="error.$uid"
                        class="input-errors"
                      >
                        <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                          {{ error.$message }}
                        </div>
                      </div>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <label
                        for="first-name"
                        class="block text-sm font-medium text-gray-400"
                      >First name</label>
                      <input
                        id="first-name"
                        v-model="name"
                        type="text"
                        name="first-name"
                        autocomplete="given-name"
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-10
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        :class="{'border-red-500' : v$.name.$error}"
                        @blur="v$.name.$touch()"
                      >
                      <div
                        v-for="error of v$.name.$errors"
                        :key="error.$uid"
                        class="input-errors"
                      >
                        <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                          {{ error.$message }}
                        </div>
                      </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                      <label
                        for="last-name"
                        class="block text-sm font-medium text-gray-400"
                      >Last name</label>
                      <input
                        id="last-name"
                        v-model="surname"
                        type="text"
                        name="last-name"
                        autocomplete="family-name"
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-10
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        :class="{'border-red-500' : v$.surname.$error}"
                        @blur="v$.surname.$touch()"
                      >
                      <div
                        v-for="error of v$.surname.$errors"
                        :key="error.$uid"
                        class="input-errors"
                      >
                        <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                          {{ error.$message }}
                        </div>
                      </div>
                    </div>

                    <div class="col-span-6 sm:col-span-4">
                      <label
                        for="email-address"
                        class="block text-sm font-medium text-gray-400"
                      >Email address</label>
                      <input
                        id="email-address"
                        v-model="emailAdress"
                        type="text"
                        name="email-address"
                        autocomplete="email"
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-10
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        :class="{'border-red-500' : v$.emailAdress.$error}"
                        @blur="v$.emailAdress.$touch()"
                      >
                      <div
                        v-for="error of v$.emailAdress.$errors"
                        :key="error.$uid"
                        class="input-errors"
                      >
                        <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                          {{ error.$message }}
                        </div>
                      </div>
                    </div>
                    <div class="col-span-6 sm:col-span-4">
                      <label
                        for="password"
                        class="block text-sm font-medium text-gray-400"
                      >Password </label>
                      <input
                        id="password"
                        v-model="password"
                        type="password"
                        name="password"
                        autocomplete="password"
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-10
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        :class="{'border-red-500' : v$.password.$error}"
                        @blur="v$.password.$touch()"
                      >
                      <div
                        v-for="error of v$.password.$errors"
                        :key="error.$uid"
                        class="input-errors"
                      >
                        <div class="error-msg mb-1 text-xs sm:text-sm tracking-wide  text-red-400">
                          {{ error.$message }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="
                      relative
                      inline-block
                      w-10
                      mr-2
                      align-middle
                      select-none
                      transition
                      duration-200
                      ease-in
                    "
                    >
                      <div class="col-span-6 sm:col-span-4 lg:col-span-2">
                        <label
                          for="toggleAdmin"
                          class="block text-sm font-medium text-gray-400"
                        >Admin?</label>
                        <input
                          id="toggle"
                          v-model="isAdmin"
                          type="checkbox"
                          name="toggle"
                          :checked="isAdmin"
                          class="
                        toggle-checkbox
                        absolute
                        block
                        w-6
                        h-6
                        rounded-full
                        bg-white
                        border-4
                        appearance-none
                        cursor-pointer
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        >
                        <label
                          for="toggle"
                          class="
                        toggle-label
                        block
                        overflow-hidden
                        h-6
                        rounded-full
                        bg-gray-300
                        cursor-pointer
                        dark:text-gray-500-opposite dark:bg-gray-100-opposite
                      "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="px-4 py-3 text-right sm:px-6">
                  <button
                    class="
                    inline-flex
                    justify-center
                    py-2
                    px-4
                    focus:outline-none
                    text-white text-sm
                    sm:text-base
                    bg-blue-500
                    hover:bg-blue-600
                    rounded-2xl
                    py-2
                    transition
                    duration-150
                    ease-in
                  "
                    :disabled="isActive"
                    @click="createUser"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Alert
        :group="group"
        :title="title"
        :text="text"
      />
    </div>
  </div>
</template>

<script lang="js">
import { ref, computed, onMounted } from 'vue';
import useVuelidate from '@vuelidate/core';
import {
  required, email, minLength, helpers, alpha,
} from '@vuelidate/validators';
import { notify } from 'notiwind';
import api from '../API';
import Alert from './Notifications/Alert.vue';

export default {
  components: { Alert },
  setup() {
    const users = ref([]);
    const username = ref('');
    const name = ref('');
    const tier = ref('');
    const surname = ref('');
    const emailAdress = ref('');
    const password = ref('');
    const isAdmin = ref(false);
    const isActive = ref(false);
    const counter = ref(0);
    const rules = computed(() => ({
      username: { required, $lazy: true },
      name: { required, alpha },
      surname: { required, alpha },
      emailAdress: {
        required: helpers.withMessage('This field cannot be empty', required), email,
      },
      password: { required, min: minLength(8) },
    }));
    const v$ = useVuelidate(rules, {
      username, name, surname, emailAdress, password,
    });
    const checkUser = (tierId) => {
      if (tierId.includes('free')) {
        if (counter.value >= 5) {
          isActive.value = true;
          notify(
            {
              group: 'top-error',
              title: 'Error',
              text: 'You have already 5 Users.',
            },
            10000,
          );
        } else {
          isActive.value = false;
        }
      } else if (tierId.includes('premium')) {
        if (counter.value >= 20) {
          isActive.value = true;
          notify(
            {
              group: 'top-error',
              title: 'Error',
              text: 'You have already 20 Users.',
            },
            10000,
          );
        } else {
          isActive.value = false;
        }
      } else {
        isActive.value = false;
      }
    };

    const getTenant = async (tenantId) => {
      await api.get(`/tenants/${tenantId}`)
        .then((response) => {
          tier.value = response.data;
          console.log('getTanent: ', tier.value.tier);
          checkUser(tier.value.tier);
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const getUser = async () => {
      await api.get('/users')
        .then((response) => {
          response.data.forEach((user) => {
            users.value.push(user);
            counter.value += 1;
            console.log(user);
          });
          getTenant(users.value[0].tenantId); // checkUser();
        })
        .catch((error) => {
          console.log(error);
        });
    };

    onMounted(() => {
      getUser();
    });

    const createUser = async () => {
      if (!v$.value.$invalid) {
        await api.post('/users', {
          displayName: username.value,
          name: name.value,
          surname: surname.value,
          email: emailAdress.value,
          password: password.value,
          admin: isAdmin.value,
        })
          .then((response) => {
            notify(
              {
                group: 'top-success',
                title: 'Success',
                text: 'User created successful!',
              },
              4000,
            );
            console.log(response);
            username.value = '';
            name.value = '';
            surname.value = '';
            emailAdress.value = '';
            password.value = '';
            isAdmin.value = false;
            v$.value.username.$reset();
            v$.value.name.$reset();
            v$.value.surname.$reset();
            v$.value.emailAdress.$reset();
            v$.value.password.$reset();

            console.log(v$);
          })
          .catch((error) => {
            notify(
              {
                group: 'top-error',
                title: 'Error',
                text: error.message,
              },
              4000,
            );
            console.log(error);
          });
      } else {
        notify(
          {
            group: 'top-error',
            title: 'Error',
            text: 'There some errors in this user form, please check!',
          },
          4000,
        );
      }
    };
    return {
      createUser,
      username,
      name,
      surname,
      emailAdress,
      password,
      isAdmin,
      v$,
      users,
      getUser,
      isActive,
      checkUser,
      counter,
      tier,
      getTenant,
    };
  },

  methods: {},
};
</script>

<style>
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-blue-400;
  right: 0;
  border-color: #3B82F6;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-blue-500;
  background-color: #3B82F6;
}
</style>
