<template>
  <div v-if="isEnterpriseTier || isPremiumTier">
    <SunIcon
      v-if="darkModeActive"
      class="icon sun-icon"
      @click="toggleDarkMode"
    />
    <MoonIcon
      v-if="!darkModeActive"
      class="icon moon-icon"
      @click="toggleDarkMode"
    />
  </div>
</template>

<script lang="js">
import {
  MoonIcon,
  SunIcon,
} from '@heroicons/vue/solid';
import { useStore } from 'vuex';
import { ref, onMounted, computed } from 'vue';

export default {
  name: 'DesignToggleBox',
  components: {
    MoonIcon,
    SunIcon,
  },
  setup() {
    const store = useStore();
    const isFreeTier = computed(() => store.getters.isFreeTier);
    const isPremiumTier = computed(() => store.getters.isPremiumTier);
    const isEnterpriseTier = computed(() => store.getters.isEnterpriseTier);

    const toggleDarkMode = () => {
      store.commit('setDarkModeActive', !store.state.darkModeActive);
    };
    return {
      toggleDarkMode, isFreeTier, isPremiumTier, isEnterpriseTier,
    };
  },
  computed: {
    darkModeActive() {
      return useStore().state.darkModeActive;
    },
  },
};
</script>

<style scoped>

</style>
