<template>
  <transition name="fade">
    <div
      id="modal-backdrop"
      class="
      modal
      fixed
      inset-0
      bg-opacity-20 bg-gray-900
      flex
      justify-center
      items-center
    "
    >
      <div
        class="
        modal-container
        w-full
        max-w-lg
        p-3
        mx-auto
        my-auto
        rounded-xl
        fixed
        inset-0
        h-screen
        flex
        items-center
        justify-center
      "
      >
        <div
          class="mt-10 sm:mt-0 w-full max-w-2xl bg-white
          dark:bg-white-opposite shadow-lg rounded-lg p-8"
        >
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="px-4 sm:px-0">
              <h3
                class="modal-content text-lg font-medium leading-6
                 text-gray-900 dark:text-white"
              >
                Edit Profile
              </h3>
              <p class="mt-1 text-sm text-gray-600 dark:text-gray-500-opposite">
                Change your Profile.
              </p>
            </div>
            <div />
            <div
              class="flex justify-end"
            >
              <button
                @click="closeModal"
              >
                <XIcon
                  class="p-2 h-10 w-10 rounded-full text-gray-700
                   hover:bg-gray-100 dark:hover:bg-gray-100-opposite dark:text-gray-500-opposite"
                />
                <button />
              </button>
            </div>
          </div>
          <div class="flex-wrap mt-4">
            <label
              class="flex justify-center text-sm font-medium
             text-gray-700 dark:text-gray-500-opposite"
            >
              Photo
            </label>
            <div
              v-if="!changedImage"
              class="relative mt-4 flex justify-center"
            >
              <img
                :src="user?.photoURL"
                :alt="user?.displayName"
                class="h-48 w-48 rounded-full object-cover shadow-lg"
                loading="lazy"
              >
              <button
                type="button"
                class="
              absolute
              top-5
              right-28
              cursor-pointer
              "
                @click="$refs.filepickerRef.click()"
              >
                <PhotographIcon
                  class="p-2 h-10 w-10 bg-gray-200
              rounded-full text-gray-700 hover:bg-gray-300 shadow-lg"
                />
              </button>
            </div>
            <div
              v-if="changedImage"
              class="relative mt-1 flex justify-center"
            >
              <img
                :src="changedImage"
                class="h-48 w-48 rounded-full object-cover shadow-lg"
              >
              <button
                type="button"
                class="
            absolute
            top-5
            right-28
            cursor-pointer
          "
                @click="removeImage"
              >
                <XIcon
                  class="p-2 h-10 w-10 bg-gray-200
              rounded-full text-red-700 hover:bg-red-300 shadow-lg"
                />
              </button>
            </div>
            <div>
              <input
                ref="filepickerRef"
                type="file"
                accept="image/png, image/gif, image/jpeg"
                class="hidden"
                @change="changeImage($event)"
              >
            </div>
          </div>
          <div class="mt-5 md:mt-0 md:col-span-2">
            <div class="px-4 py-5 bg-white dark:bg-white-opposite sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6">
                  <label
                    for="username"
                    class="block text-sm font-medium text-gray-400"
                  >Username</label>
                  <div class="relative flex w-full flex-wrap items-stretch">
                    <input
                      v-model="user.displayName"
                      :disabled="!isUsername"
                      type="text"
                      name="username"
                      autocomplete="username"
                      class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none
                      focus:border-blue-400
                      relative
                    "
                      :class="{'dark:text-gray-500-opposite dark:bg-gray-100-opposite ': isUsername,
                               'cursor-not-allowed': !isUsername}"
                    >
                    <span
                      class="
                      inline-flex
                      items-center
                      absolute
                      text-gray-500
                      dark:text-gray-500-opposite
                      text-sm
                      w-auto
                      right-2
                    "
                    >
                      <button
                        class="
                        bg-grey-light
                        font-bold
                        py-2
                        px-2
                        rounded-2xl
                        inline-flex
                        items-center
                        text-gray-500
                        focus:shadow-outline
                        hover:bg-blue-200
                      "
                        @click="isUsername = !isUsername"
                      >
                        <svg
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2
                        2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                        2.828L11.828 15H9v-2.828l8.586-8.586z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-400"
                  >First name</label>
                  <div class="relative flex w-full flex-wrap items-stretch">
                    <input
                      id="first-name"
                      v-model="user.name"
                      :disabled="!isFirstname"
                      type="text"
                      name="first-name"
                      autocomplete="given-name"
                      class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                      relative
                    "
                      :class="{'dark:text-gray-500-opposite dark:bg-gray-100-opposite '
                        : isFirstname, 'cursor-not-allowed': !isFirstname}"
                    >
                    <span
                      class="
                      inline-flex
                      items-center
                      absolute
                      text-gray-500 dark:text-gray-500-opposite text-sm
                      w-auto
                      right-2
                    "
                    >
                      <button
                        class="
                        bg-grey-light
                        font-bold
                        py-2
                        px-2
                        rounded-2xl
                        inline-flex
                        items-center
                        text-gray-500
                        focus:shadow-outline
                        hover:bg-blue-200
                      "
                        @click="isFirstname = !isFirstname"
                      >
                        <svg
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2
                        2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                        2.828L11.828 15H9v-2.828l8.586-8.586z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="last-name"
                    class="block text-sm font-medium text-gray-400"
                  >Last name</label>
                  <div class="relative flex w-full flex-wrap items-stretch">
                    <input
                      id="last-name"
                      v-model="user.surname"
                      :disabled="!isLastname"
                      type="text"
                      name="last-name"
                      autocomplete="family-name"
                      class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                      relative
                    "
                      :class="{'dark:text-gray-500-opposite dark:bg-gray-100-opposite '
                        : isLastname, 'cursor-not-allowed': !isLastname}"
                    >
                    <span
                      class="
                      inline-flex
                      items-center
                      absolute
                      text-gray-500 dark:text-gray-500-opposite text-sm
                      w-auto
                      right-2
                    "
                    >
                      <button
                        class="
                        bg-grey-light
                        font-bold
                        py-2
                        px-2
                        rounded-2xl
                        inline-flex
                        items-center
                        text-gray-500
                        focus:shadow-outline
                        hover:bg-blue-200
                      "
                        @click="isLastname = !isLastname"
                      >
                        <svg
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2
                        2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                        2.828L11.828 15H9v-2.828l8.586-8.586z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="col-span-6">
                  <label
                    for="email-address"
                    class="block text-sm font-medium text-gray-400"
                  >Email address</label>
                  <div class="relative flex w-full flex-wrap items-stretch">
                    <input
                      id="email-address"
                      v-model="user.email"
                      :disabled="!isEmail"
                      type="text"
                      name="email-address"
                      autocomplete="email"
                      class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                      relative
                    "
                      :class="{'dark:text-gray-500-opposite dark:bg-gray-100-opposite '
                        : isEmail, 'cursor-not-allowed': !isEmail}"
                    >
                    <span
                      class="
                      inline-flex
                      items-center
                      absolute
                      text-gray-500 dark:text-gray-500-opposite text-sm
                      w-auto
                      right-2
                    "
                    >
                      <button
                        class="
                        bg-grey-light
                        font-bold
                        py-2
                        px-2
                        rounded-2xl
                        inline-flex
                        items-center
                        text-gray-500
                        focus:shadow-outline
                        hover:bg-blue-200
                      "
                        @click="isEmail = !isEmail"
                      >
                        <svg
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2
                        2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                        2.828L11.828 15H9v-2.828l8.586-8.586z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="password"
                    class="block text-sm font-medium text-gray-400"
                  >Old password</label>
                  <div class="relative flex w-full flex-wrap items-stretch">
                    <input
                      id="oldPassword"
                      v-model="oldPassword"
                      :disabled="!isPassword"
                      type="pasword"
                      name="password"
                      autocomplete="password"
                      class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                      relative
                    "
                      :class="{'dark:text-gray-500-opposite dark:bg-gray-100-opposite '
                        : isPassword, 'cursor-not-allowed': !isPassword}"
                    >
                    <span
                      class="
                      inline-flex
                      items-center
                      absolute
                      text-gray-500 dark:text-gray-500-opposite text-sm
                      w-auto
                      right-2
                    "
                    >
                      <button
                        class="
                        bg-grey-light
                        font-bold
                        py-2
                        px-2
                        rounded-2xl
                        inline-flex
                        items-center
                        text-gray-500
                        focus:shadow-outline
                        hover:bg-blue-200
                      "
                        @click="isPassword = !isPassword"
                      >
                        <svg
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2
                        2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                        2.828L11.828 15H9v-2.828l8.586-8.586z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="password"
                    class="block text-sm font-medium text-gray-400"
                  >New password</label>
                  <div class="relative flex w-full flex-wrap items-stretch">
                    <input
                      id="newPassword"
                      v-model="newPassword"
                      :disabled="!isPassword"
                      type="pasword"
                      name="password"
                      autocomplete="password"
                      class="
                      text-sm
                      placeholder-gray-500
                      pl-10
                      pr-4
                      rounded-2xl
                      border border-gray-400
                      w-full
                      py-2
                      focus:outline-none focus:border-blue-400
                      relative
                    "
                      :class="{'dark:text-gray-500-opposite dark:bg-gray-100-opposite '
                        : isPassword, 'cursor-not-allowed': !isPassword}"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 text-right sm:px-6">
            <button
              class="
              inline-flex
              justify-center
              py-2
              px-4
              focus:outline-none
              text-white text-sm
              sm:text-base
              bg-blue-500
              hover:bg-blue-600
              rounded-2xl
              transition
              duration-150
              ease-in
            "
              @click="saveUserInformation"
            >
              Save
            </button>
          </div>
        </div>
      </div>
      <Alert
        :group="group"
        :title="title"
        :text="text"
      />
    </div>
  </transition>
</template>

<script lang="js">
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import useVuelidate from '@vuelidate/core';
import {
  required, email, minLength, helpers,
} from '@vuelidate/validators';
// import { notify } from 'notiwind';
import {
  PhotographIcon,
  XIcon,
} from '@heroicons/vue/solid';
import Alert from './Notifications/Alert.vue';

export default {
  components: { Alert, PhotographIcon, XIcon },
  props: ['closeModal'],
  setup(props) {
    const store = useStore();
    const isUsername = ref(false);
    const isFirstname = ref(false);
    const isLastname = ref(false);
    const isEmail = ref(false);
    const isPassword = ref(false);
    const emailAdress = ref('');
    const oldPassword = ref('');
    const newPassword = ref('');
    const changedImage = ref('');
    const filepickerRef = ref(null);
    const rules = computed(() => ({
      emailAdress: {
        required: helpers.withMessage('This field cannot be empty', required), email,
      },
      password: { required, min: minLength(8) },
    }));
    const v$ = useVuelidate(rules, {
      emailAdress, oldPassword, newPassword,
    });

    const user = computed(() => JSON.parse(JSON.stringify(store.getters.getUser)));

    const saveUserInformation = () => {
      console.log('user info:', user.value);
      const test = {
        usert: user.value,
        rawImage: changedImage.value,
      };
      store.dispatch('changeUserInformationAction', test);
      props.closeModal();
    };

    const changeImage = (e) => {
      const reader = new FileReader();
      if (e.target.files[0]) {
        reader.readAsDataURL(e.target.files[0]);
      }

      reader.onload = (readerEvent) => {
        changedImage.value = readerEvent.target.result;
      };
    };

    const removeImage = () => { (changedImage.value = ''); };

    return {
      isUsername,
      isFirstname,
      isLastname,
      isEmail,
      isPassword,
      user,
      saveUserInformation,
      emailAdress,
      oldPassword,
      newPassword,
      v$,
      filepickerRef,
      changedImage,
      changeImage,
      removeImage,
      PhotographIcon,
      XIcon,
    };
  },

};
</script>

<style scoped>
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-blue-400;
  right: 0;
  border-color: #3b82f6;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-blue-500;
  background-color: #3b82f6;
}
:disabled {
  background-color: #e5e7eb;
}
</style>
