<template>
  <div
    ref="feedComponent"
    class="flex-grow flex-1 h-screen pb-44 pt-6 overflow-y-auto"
    @scroll="handleScroll"
  >
    <!-- Feeds -->
    <div class="mx-auto max-w-md md:max-w-lg lg:max-w-2xl">
      <!-- Input Box -->
      <InputBox
        :add-post-to-feed="addPostToFeed"
        :group-id="groupId"
      />
      <Posts
        ref="postComponent"
        :new-post-array="newPostArray"
        :group-id="groupId"
      />
    </div>
  </div>
</template>

<script lang="js">
import { ref } from 'vue';
import InputBox from './InputBox.vue';
import Posts from './Posts.vue';

export default {
  components: {
    InputBox,
    Posts,
  },
  props: ['groupId'],
  setup() {
    const postComponent = ref();
    const feedComponent = ref();
    const newPostArray = ref([]);

    const addPostToFeed = (post) => {
      newPostArray.value.unshift(post);
    };
    const handleScroll = (e) => {
      postComponent.value.handleScroll(e);
    };

    return {
      newPostArray, addPostToFeed, handleScroll, postComponent, feedComponent,
    };
  },

};
</script>

<style scoped>
</style>
