<template>
  <div class="flex-grow flex-1 h-screen pb-44 pt-6 overflow-y-auto">
    <div class="mx-auto max-w-md md:max-w-lg lg:max-w-2xl">
      <div
        v-if="user.admin && createMoreGroupsAllowed"
        class="
          bg-white
          dark:bg-white-opposite
          p-2
          rounded-2xl
          shadow-md
          text-gray-500
          dark:text-gray-500-opposite
          font-medium
          mt-6
        "
      >
        <div class="flex items-center space-x-4 p-2">
          <img
            :src="user?.photoURL"
            :alt="user?.displayName"
            class="h-10 w-10 rounded-full object-cover icon p-0"
            loading="lazy"
          >
          <form
            class="flex flex-1 space-x-4"
            @submit.prevent="onSubmit"
          >
            <input
              v-model.trim="group.name"
              type="text"
              placeholder="Enter a new group name"
              class="
                rounded-full
                h-12
                bg-gray-100
                dark:bg-gray-100-opposite
                flex-grow
                px-5
                focus:outline-none
              "
            >
            <button
              type="submit"
              class="
                bg-blue-500
                hover:bg-blue-700
                text-white
                font-bold
                py-2
                px-4
                rounded-full
                focus:outline-none
              "
            >
              {{ loading ? "Creating..." : "Create" }}
            </button>
          </form>
        </div>
      </div>

      <div
        v-for="(group, index) in groups"
        :key="index"
        class="
          flex
          justify-between
          bg-white
          dark:bg-white-opposite
          p-2
          rounded-2xl
          shadow-md
          text-gray-500
          dark:text-gray-500-opposite
          font-medium
          mt-6
        "
      >
        <div
          v-if="group?.type === 'public'"
          class="flex items-center space-x-4 p-2"
        >
          <img
            :src="generateImageFromInitial(group?.name)"
            :alt="group?.name"
            class="h-10 w-10 rounded-full object-cover"
            loading="lazy"
          >
          <p>{{ group?.name }}</p>
        </div>

        <div
          v-else
          class="flex items-center space-x-4 p-2"
        >
          <img
            :src="generateImageFromInitial(group?.name)"
            :alt="group?.name"
            class="h-10 w-10 rounded-full object-cover"
            loading="lazy"
          >
          <p>{{ group?.name }}</p>
        </div>

        <div
          v-if="!hasJoined(group?.groupId)"
          class="flex items-center space-x-4 p-2"
        >
          <button
            v-if="group?.type === 'public'"
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
              focus:outline-none
            "
            @click="joinGroup(group?.groupId)"
          >
            Join Group
          </button>
          <button
            v-else
            class="
              bg-blue-500
              text-white
              font-bold
              py-2
              px-4
              rounded-full
              italic
              hover:bg-blue-700
              focus:outline-none
              disabled:opacity-50
            "
            disabled
          >
            Private
          </button>
        </div>
        <div
          v-else
          class="flex items-center space-x-4 p-2"
        >
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
              focus:outline-none
            "
            @click="moveTo(`/wall/groups/${group?.groupId}`)"
          >
            Enter Group
          </button>
          <button
            class="
              bg-red-500
              hover:bg-red-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
              focus:outline-none
            "
            @click="leaveGroup(group?.groupId)"
          >
            Leave Group
          </button>
        </div>
      </div>
    </div>
    <Alert
      :group="group"
      :title="title"
      :text="text"
    />
  </div>
</template>

<script>
import {
  ref, unref, computed, onBeforeMount, watch,
} from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { notify } from 'notiwind';
import api from '../API';
import Alert from './Notifications/Alert.vue';

export default {
  components: { Alert },
  setup() {
    const router = useRouter();
    const store = useStore();
    const loading = ref(false);
    const group = ref({ name: '', type: 'public' });
    const groups = ref([]);
    const createMoreGroupsAllowed = ref(false);

    const user = computed(() => store.getters.getUser);
    const isFreeTier = computed(() => store.getters.isFreeTier);
    const isPremiumTier = computed(() => store.getters.isPremiumTier);
    const isEnterpriseTier = computed(() => store.getters.isEnterpriseTier);

    const getGroups = () => {
      api.get('/groups').then((response) => {
        groups.value = response.data;
      }).catch((error) => {
        console.log('Fetching groups failed with error', error);
      });
    };

    const joinGroup = async (groupId) => {
      const userObject = unref(user);
      await api.post(`/groups/${groupId}`, {
        userObject,
        groupId,
      })
        .then(
          (response) => {
            notify({
              group: 'top-success',
              title: 'Success',
              text: 'You joined the group!',
            }, 4000);
            const userGroups = user.value.groups;
            userGroups.push(groupId);
            store.commit('setUserGroups', userGroups);
          },
        ).catch((error) => console.log(`Received error when joining the group ${error.message}`));
    };

    const onSubmit = async () => {
      if (group.value.name === '') return;
      loading.value = true;

      const { name } = group.value;
      const { type } = group.value;

      await api.post('/groups', {
        name,
        type,
      })
        .then((response) => {
          notify(
            {
              group: 'top-success',
              title: 'Success',
              text: 'Group created successful!',
            },
            4000,
          );
          group.value.name = '';
          loading.value = false;
        })
        .catch((error) => {
          notify(
            {
              group: 'top-error',
              title: 'Error',
              text: error.message,
            },
            4000,
          );
        });
    };

    const leaveGroup = async (groupId) => {
      await api.delete(`/groups/${groupId}/users/${user.value.userId}`).then((response) => {
        notify(
          {
            group: 'top-success',
            title: 'Success',
            text: 'You left the group!',
          },
          4000,
        );
        store.commit('setUserGroups', user.value.groups.filter((groupObj) => groupObj !== groupId));
      });
    };
    const hasJoined = (groupId) => {
      if (user.value.groups === undefined) {
        return false;
      }
      return user.value.groups.includes(groupId);
    };

    const generateImageFromInitial = (name) => {
      const canvas = document.createElement('canvas');
      canvas.style.display = 'none';
      canvas.width = '32';
      canvas.height = '32';
      document.body.appendChild(canvas);

      const context = canvas.getContext('2d');
      context.fillStyle = '#999';
      context.fillRect(0, 0, canvas.width, canvas.height);
      context.font = '16px Arial';
      context.fillStyle = '#ccc';

      if (name && name !== '') {
        const initials = name[0];
        context.fillText(initials.toUpperCase(), 10, 23);

        const data = canvas.toDataURL();
        document.body.removeChild(canvas);
        return data;
      }
      return false;
    };

    watch([isFreeTier, isPremiumTier, isEnterpriseTier, groups], () => {
      if (isPremiumTier.value && groups.value.length < 10) {
        createMoreGroupsAllowed.value = true;
      } else if (isEnterpriseTier.value) {
        createMoreGroupsAllowed.value = true;
      } else {
        createMoreGroupsAllowed.value = false;
      }
    });

    const moveTo = (path) => {
      router.push(path);
    };

    onBeforeMount(() => {
      getGroups();
    });

    return {
      loading,
      user,
      group,
      groups,
      onSubmit,
      joinGroup,
      hasJoined,
      generateImageFromInitial,
      moveTo,
      createMoreGroupsAllowed,
      isFreeTier,
      isPremiumTier,
      isEnterpriseTier,
      leaveGroup,
    };
  },
};
</script>

<style scoped>
</style>
