<template>
  <div
    class="bg-white dark:bg-white-opposite p-2
    rounded-2xl shadow-md text-gray-500
    dark:text-gray-500-opposite font-medium mt-6"
  >
    <div class="flex items-center space-x-4 p-2">
      <img
        :src="user?.photoURL"
        :alt="user?.displayName"
        class="h-10 w-10 rounded-full object-cover"
        loading="lazy"
      >
      <div
        v-if="!showCompiledMarkdown"
        class="flex-auto"
      >
        <form
          class="flex flex-1"
          @submit.prevent="submitPost"
        >
          <textarea
            v-model.trim="messageAsMarkdown"
            :placeholder="`what's on your mind, ${user?.displayName}?`"
            class="
              rounded-lg
              h-auto
              bg-gray-100 dark:bg-gray-100-opposite
              flex-grow
              px-5
              py-2
              focus:outline-none
            "
            @input="mixin_autoResize_resize"
          />
        </form>
      </div>
      <div
        v-else
        class="flex-auto"
      >
        <div
          class="prose dark:text-white"
          v-html="markdownToHtml"
        />
      </div>
    </div>
    <div class="flex justify-evenly p-3 border-t">
      <div
        class="inputIcon dark:hover:bg-gray-200-opposite"
        @click="showCompiledMarkdown = !showCompiledMarkdown"
      >
        <EyeIcon
          v-if="!showCompiledMarkdown"
          class="h-7 text-blue-500"
        />
        <p
          v-if="!showCompiledMarkdown"
          class="text-xs sm:text-sm xl:text-base"
        >
          Preview
        </p>

        <PencilIcon
          v-if="showCompiledMarkdown"
          class="h-7 text-red-500"
        />
        <p
          v-if="showCompiledMarkdown"
          class="text-xs sm:text-sm xl:text-base"
        >
          Edit
        </p>
      </div>
      <div
        class="inputIcon dark:hover:bg-gray-200-opposite"
        @click="$refs.filepickerRef.click()"
      >
        <CameraIcon class="h-7 text-yellow-300" />
        <p class="text-xs sm:text-sm xl:text-base">
          Photo/Video
        </p>
        <input
          ref="filepickerRef"
          type="file"
          accept="image/png, image/gif, image/jpeg"
          class="hidden"
          @change="addImageToPost($event)"
        >
      </div>
      <div
        class="inputIcon dark:hover:bg-gray-200-opposite"
        @click="submitPost"
      >
        <MailIcon class="h-7 text-green-400 " />
        <p class="text-xs sm:text-sm xl:text-base mr-5">
          Post
        </p>
      </div>

      <div
        v-if="imageToPost"
        class="
          flex flex-col
          filter
          hover:brightness-110
          transition
          duration-150
          transform
          hover:scale-105
          cursor-pointer
        "
        @click="removeImage"
      >
        <img
          :src="imageToPost"
          class="h-10 object-contain"
        >
        <p class="text-xs text-red-500 text-center">
          Remove
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="js">
import { ref, computed } from 'vue';
import {
  EyeIcon, PencilIcon,
} from '@heroicons/vue/outline';
import { CameraIcon, MailIcon } from '@heroicons/vue/solid';
import { marked } from 'marked';
import { useStore } from 'vuex';
import api from '../API';
import AutoResize from '../mixins/AutoResize';

export default {
  components: {
    CameraIcon,
    MailIcon,
    EyeIcon,
    PencilIcon,

  },
  mixins: [AutoResize],
  props: ['addPostToFeed', 'groupId'],
  setup(props) {
    const showCompiledMarkdown = ref(false);
    const messageAsMarkdown = ref('');
    const imageToPost = ref(undefined);
    const filepickerRef = ref(null);

    const vuexStore = useStore();

    const user = computed(() => vuexStore.getters.getUser);

    const submitPost = async () => {
      if (messageAsMarkdown.value !== '') {
        await api.post(`/posts${props.groupId}`, JSON.parse(JSON.stringify({
          messageAsMarkdown: messageAsMarkdown.value,
          messageAsHtml: marked.parse(messageAsMarkdown.value),
          rawImage: imageToPost.value,
          author: {
            userId: user.value.userId,
            displayName: user.value.displayName,
            photoURL: user.value.photoURL,
            name: user.value.name,
            surname: user.value.surname,
          },
        })))
          .then((response) => {
            imageToPost.value = null;
            filepickerRef.value = null;
            messageAsMarkdown.value = '';
            response.data.comments = [];
            response.data.likes = [];
            props.addPostToFeed(
              response.data,
            );
          })
          .catch((error) => {
            console.log(error);
          });
      }
    };

    const markdownToHtml = computed(() => marked.parse(messageAsMarkdown.value));

    const addImageToPost = (e) => {
      const reader = new FileReader();
      if (e.target.files[0]) {
        reader.readAsDataURL(e.target.files[0]);
      }

      reader.onload = (readerEvent) => {
        imageToPost.value = readerEvent.target.result;
      };
    };

    const removeImage = () => { (imageToPost.value = null); };

    return {
      showCompiledMarkdown,
      messageAsMarkdown,
      submitPost,
      markdownToHtml,
      imageToPost,
      addImageToPost,
      removeImage,
      user,
      filepickerRef,
    };
  },
};
</script>

<style scoped>
</style>
