<template>
  <div class="sticky z-58 bg-white dark:bg-white-opposite flex items-center lg:pr-5 shadow-md ">
    <!-- Left -->
    <div class="flex items-center">
      <router-link
        to="/wall"
        class="cursor-pointer"
      >
        <img
          src="../assets/bizhub-sample-logo.png"
          alt="Logo"
          width="100"

          loading="lazy"
        >
      </router-link>
    </div>
    <div class="pl-12 ml-12 flex justify-center flex-grow">
      <div class="flex space-x-6 md:space-x-2">
        <tool-tip-box
          :text="'Home'"
        >
          <div
            class="
            flex
            items-center
            cursor-pointer
            md:px-10
            sm:h-14
            md:hover:bg-gray-100
            rounded-xl
            group
          "
            @click="moveTo('/')"
          >
            <HomeIcon
              class="h-5 text-gray-500 dark:text-gray-500-opposite
             group-hover:text-blue-500"
            />
          </div>
        </tool-tip-box>

        <tool-tip-box
          v-if="!isFreeTier"
          :text="'Groups'"
        >
          <div
            class="
            flex
            items-center
            cursor-pointer
            md:px-10
            sm:h-14
            md:hover:bg-gray-100
            rounded-xl
            group
          "
            @click="moveTo('/groups')"
          >
            <UserGroupIcon
              class="h-5 text-gray-500 dark:text-gray-500-opposite
             group-hover:text-blue-500"
            />
          </div>
        </tool-tip-box>
      </div>
    </div>
    <!-- Right -->
    <div class="flex items-center sm:space-x-2 justify-end">
      <div
        class="flex items-center sm:space-x-2"
        @click="setModalVisibility(!modalIsVisible)"
      >
        <tool-tip-box
          :text="'Profile'"
        >
          <img
            :src="user?.photoURL"
            :alt="user?.displayName"
            class="h-10 w-10 rounded-full object-cover cursor-pointer"
            loading="lazy"
          >
        </tool-tip-box>
        <p class="whitespace-nowrap font-semibold pr-3 capitalize dark:text-gray-500-opposite">
          {{ user?.displayName }}
        </p>
      </div>
      <div v-if="modalIsVisible">
        <EditUser
          :close-modal="closeModal"
        />
      </div>
      <DesignToggleBox />
      <tool-tip-box
        :text="'Logout'"
      >
        <div @click="signOut">
          <LogoutIcon class="icon" />
        </div>
      </tool-tip-box>
      <Menu
        as="div"
        class="relative inline-block text-left"
      >
        <div v-if="user?.admin">
          <MenuButton
            class=""
          >
            <DotsVerticalIcon class="icon" />
          </MenuButton>
        </div>

        <transition
          enter-active-class="transition duration-100 ease-out"
          enter-from-class="transform scale-95 opacity-0"
          enter-to-class="transform scale-100 opacity-100"
          leave-active-class="transition duration-75 ease-in"
          leave-from-class="transform scale-100 opacity-100"
          leave-to-class="transform scale-95 opacity-0"
        >
          <MenuItems
            class="absolute right-0 w-56 mt-2 origin-top-right
           bg-white divide-y divide-gray-100 rounded-md shadow-lg
            ring-1 ring-black ring-opacity-5 focus:outline-none"
          >
            <div class="px-1 py-1">
              <MenuItem v-slot="{ active }">
                <router-link
                  to="/createUser"
                  tag="button"
                  :class="[
                    active ? 'bg-white text-gray-600' : 'text-gray-900',
                    'group flex rounded-md items-center w-full px-2 py-2 text-sm font-semibold',
                  ]"
                >
                  Create User
                </router-link>
              </MenuItem>
            </div>
            <div class="px-1 py-1">
              <MenuItem v-slot="{ active }">
                <router-link
                  to="/showUser"
                  tag="button"
                  :class="[
                    active ? 'bg-white text-gray-600' : 'text-gray-900',
                    'group flex rounded-md items-center w-full px-2 py-2 text-sm font-semibold',
                  ]"
                >
                  User Management
                </router-link>
              </MenuItem>
            </div>
          </MenuItems>
        </transition>
      </Menu>
    </div>
  </div>
</template>
<script lang="js">
import {
  BellIcon,
  ChatIcon,
  HomeIcon,
  UserGroupIcon,
  UsersIcon,
  LogoutIcon,
  DotsVerticalIcon,
} from '@heroicons/vue/solid';
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import {
  Menu, MenuButton, MenuItem, MenuItems,
} from '@headlessui/vue';
import EditUser from './EditUser.vue';
import DesignToggleBox from './DesignToggleBox.vue';
import ToolTipBox from './ToolTipBox.vue';

export default {
  name: 'MainHeader',
  components: {
    ToolTipBox,
    DesignToggleBox,
    HomeIcon,
    UserGroupIcon,
    LogoutIcon,
    EditUser,
    MenuButton,
    Menu,
    MenuItem,
    MenuItems,
    DotsVerticalIcon,
  },
  setup() {
    const showMenu = ref(false);
    const vuexStore = useStore();
    const modalIsVisible = ref(false);
    const router = useRouter();
    const isFreeTier = computed(() => vuexStore.getters.isFreeTier);

    const setModalVisibility = (visible) => {
      modalIsVisible.value = visible;
    };
    const closeModal = () => {
      modalIsVisible.value = false;
    };

    const user = computed(() => vuexStore.getters.getUser);

    const moveTo = (path) => {
      router.push(path);
    };

    const signOut = () => {
      vuexStore.dispatch('signOutAction');
    };

    return {
      signOut,
      user,
      modalIsVisible,
      setModalVisibility,
      closeModal,
      showMenu,
      moveTo,
      isFreeTier,
    };
  },
};
</script>

<style scoped>
.fade-enter-active
 {
  transition: all 0.4s;
}
.fade-leave-active{
transition: all 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
