<template>
  <div
    class="
        flex
        bg-white
        dark:bg-white-opposite
        text-gray-400
      "
  >
    <div
      v-if="likeArray.length!==0"
      class="p-3 flex flex-1 "
    >
      <thumb-up-icon class="h-5 p-1 rounded-2xl bg-blue-500 text-gray-200" />
      <p class="count pl-1">
        {{ likeArray.length }}
      </p>
    </div>

    <div
      v-if="commentArray.length!==0"
      class="p-3 flex"
    >
      <chat-alt-icon class="h-4 mt-1" />
      <p class="count pl-1">
        {{ commentArray.length }} Comments
      </p>
    </div>
  </div>
</template>

<script lang="js">
import { ChatAltIcon } from '@heroicons/vue/outline';
import { ThumbUpIcon } from '@heroicons/vue/solid';

export default {
  name: 'PostInteractionStatsBar',
  components: {
    ChatAltIcon, ThumbUpIcon,
  },

  props: ['commentArray', 'likeArray'],
};
</script>

<style scoped>

.count {
  line-height: initial;
}

</style>
