<template>
  <div
    key="posts[0].postId"
    class="scrolling-component"
  >
    <Post
      v-for="post in posts"
      :key="post.postId"
      :author="post.author"
      :message="post.messageAsHtml"
      :post-image="post.firebaseImageUri"
      :timestamp="post.timeStamp"
      :post-id="post.postId"
      :comment-array="post.comments"
      :like-array="post.likes"
      :remove-single-post-from-array="removeSinglePostFromArray"
    />
  </div>
</template>

<script lang="js">
import {
  ref, onMounted, watch,
} from 'vue';
import Post from './Post.vue';
import api from '../API';

export default {
  components: {
    Post,
  },
  props: ['newPostArray', 'groupId', 'postComponent'],
  setup(props) {
    const posts = ref([]);

    watch(
      props.newPostArray,
      () => {
        posts.value = [props.newPostArray[0]].concat(posts.value);
      },
    );

    let offset = 0;
    let postLimit = 3;
    const postAutoLoadLimit = 5;

    const callGetLatestPosts = () => {
      if (offset <= postAutoLoadLimit) {
        getLatestPosts();
      }
    };

    const getLatestPosts = async () => {
      await api.get(`/posts${props.groupId}`, {
        params: {
          offset,
          postLimit,
        },
      })
        .then((response) => {
          if (response.data.length > 0) {
            offset += postLimit;
            postLimit = 1;
            callGetLatestPosts();
            response.data.forEach((post) => {
              posts.value.push(post);
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const handleScroll = (e) => {
      if ((e.target.offsetHeight + e.target.scrollTop) >= e.target.scrollHeight && offset > postAutoLoadLimit) {
        getLatestPosts();
      }
    };

    const removeSinglePostFromArray = (postId) => {
      posts.value = posts.value.filter((post) => post.postId !== postId);
    };

    onMounted(() => {
      getLatestPosts();
    });
    return { posts, handleScroll, removeSinglePostFromArray };
  },
};
</script>

<style scoped>

</style>
