<template>
  <div class="flex flex-col ">
    <div class="p-5 bg-white mt-5 rounded-t-2xl shadow-sm dark:bg-white-opposite">
      <div class="flex justify-between">
        <div class="flex items-center space-x-2">
          <img
            class="h-10 w-10 rounded-full object-cover"
            :src="author?.photoURL"
            alt="image"
          >
          <div>
            <p class="font-bold dark:text-gray-500-opposite">
              {{ author?.displayName }}
            </p>
            <p
              v-if="timestamp"
              class="text-xs text-gray-400"
            >
              {{ convertUnixTimeToDateForLeap(timestamp) }}
            </p>
            <p
              v-else
              class="text-xs text-gray-400"
            >
              Loading
            </p>
          </div>
          <div />
        </div>
        <div
          v-if="user.userId == author?.userId || user.admin"
          class="flex items-center"
        >
          <button
            @click="removePost(postId)"
          >
            <XIcon
              class="h-6 rounded-full text-red-500 hover:text-red-700"
            />
          </button>
        </div>
      </div>
      <p
        class="pt-4 prose dark:text-white"
        v-html="message"
      />
    </div>

    <div
      v-if="postImage"
      class="md:container md:mx-auto"
    >
      <img
        :src="postImage"
        class="object-contain w-full "
        loading="lazy"
      >
    </div>

    <!-- Post Footer -->
    <div
      class="

      bg-white
      dark:bg-white-opposite
      flex-col
      rounded-b-2xl
      shadow-md
      "
    >
      <PostInteractionStatsBar
        :like-array="likes"
        :comment-array="comments"
      />
      <div
        class="
        flex
        justify-between
        items-center
        bg-white
        dark:bg-white-opposite
        text-gray-400
        border-t
        rounded-b-2xl
      "
      >
        <div
          class="inputIcon p-3 rounded-none dark:hover:bg-gray-200-opposite"
          :class="{'text-blue-500 like-button-active': isLikedByUser, }"
          @click="performLikeInteraction"
        >
          <ThumbUpIcon class="h-4" />
          <p class="text-xs sm:text-base">
            Like
          </p>
        </div>

        <div
          class="inputIcon p-3 rounded-none dark:hover:bg-gray-200-opposite"
          @click="expandCommentSection = !expandCommentSection"
        >
          <ChatAltIcon class="h-4" />
          <p class="text-xs sm:text-base">
            Comment
          </p>
        </div>
      </div>
      <div
        v-if="expandCommentSection || comments.length !== 0"

        class="
        space-x-4
        p-4
        pb-6
        flex
        bg-white
        dark:bg-white-opposite
        text-gray-400
        border-t
      "
      >
        <img
          :src="user.photoURL"
          :alt="user.displayName"
          class="h-10 w-10 rounded-full object-cover"
          loading="lazy"
        >
        <input
          v-model="comment"
          type="text"
          class="
        rounded-2xl
        h-auto
        h-min
        flex-grow
        bg-gray-100 dark:bg-gray-100-opposite
        p-2
        "
          placeholder="Leave a comment..."
          @keyup.enter="submitComment"
        >
      </div>
      <Comment
        v-for="singleComment in comments"
        :key="singleComment.commentId"
        class="rounded-b-2xl"
        :comment-id="singleComment.commentId"
        :post-id="$props.postId"
        :comment="singleComment.comment"
        :comment-author="singleComment.authorId"
        :timestamp="singleComment.timestamp"
        :remove-from-array="removeFromArray"
        :display-name="singleComment.displayName"
        :photo-u-r-l="singleComment.photoURL"
        :post-author-id="author.userId"
      />
    </div>
  </div>
</template>

<script lang="js">
import { ChatAltIcon, ThumbUpIcon, XIcon } from '@heroicons/vue/outline';
import {
  computed, onMounted, ref,
} from 'vue';
import { useStore } from 'vuex';
import api from '../API';
import Comment from './Comment.vue';
import PostInteractionStatsBar from './PostInteractionStatsBar.vue';

export default {
  components: {
    PostInteractionStatsBar,
    Comment,
    ChatAltIcon,
    ThumbUpIcon,
    XIcon,
  },
  props: ['author', 'message', 'timestamp', 'postImage', 'postId', 'commentArray', 'likeArray', 'removeSinglePostFromArray'],
  setup(props) {
    const vuexStore = useStore();
    const user = computed(() => vuexStore.getters.getUser);
    const userFromState = vuexStore.state.user;

    const comment = ref('');

    const comments = ref([]);
    if (props.commentArray) {
      comments.value = props.commentArray;
    }

    const likes = ref([]);
    likes.value = props.likeArray;
    const expandCommentSection = ref(false);
    const isLikedByUser = ref(false);

    const removeFromArray = (commentId) => {
      comments.value = comments.value.filter((value) => value.commentId !== commentId);
    };

    const removeFromLikesArray = (userId) => {
      likes.value = likes.value.filter((value) => value.likerId !== userId);
    };

    const assessIfLikedByUser = () => {
      let isLiked = false;

      likes.value.forEach((like) => {
        if (like.likerId === userFromState.userId) {
          isLiked = true;
        }
      });
      return isLiked;
    };

    const submitComment = async () => {
      await api.post(`/posts/${props.postId}/comments`, {
        postId: props.postId,
        comment: comment.value,
        photoURL: user.value.photoURL,
        displayName: user.value.displayName,
      })
        .then((response) => {
          comments.value.push(
            response.data,
          );
          comment.value = '';
        })
        .catch((error) => {
          // TODO: popup not allowed
          console.log(error);
        });
    };

    const addLike = async () => {
      isLikedByUser.value = true;
      await api.post(`/posts/${props.postId}/likes`, {
        photoURL: userFromState.photoURL,
        displayName: userFromState.displayName,
      })
        .then((response) => {
          likes.value.push(
            response.data,
          );
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const removeLike = async () => {
      removeFromLikesArray(userFromState.userId);
      isLikedByUser.value = false;
      await api.delete(`/posts/${props.postId}/likes/${userFromState.userId}`).then(() => {
      }).catch((error) => {
        console.log(error);
      });
    };

    const performLikeInteraction = () => {
      if (isLikedByUser.value) {
        removeLike();
      } else {
        addLike();
      }
    };

    const removePost = async (postId) => {
      props.removeSinglePostFromArray(postId);
      await api.delete(`/posts/${postId}`);
    };

    const convertUnixTimeToDateForLeap = (timestamp) => {
      const date = new Date(timestamp);
      const options = {
        weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
      };
      return date.toLocaleDateString('de-DE', options);
    };

    onMounted(() => {
      isLikedByUser.value = assessIfLikedByUser();
    });

    return {
      comment,
      submitComment,
      comments,
      removeFromArray,
      user,
      addLike,
      likes,
      expandCommentSection,
      performLikeInteraction,
      isLikedByUser,
      convertUnixTimeToDateForLeap,
      removePost,
    };
  },
};
</script>

<style scoped>

.like-button-active {
  font-weight: bold;
}

</style>
