<template>
  <div class="p-2 mt-5 max-w-[600px] xl:min-w-[300px]">
    <SidebarRow
      :img="user?.photoURL"
      :title="user?.displayName"
    />
    <SidebarRow title="Groups">
      <UserGroupIcon class="h-8 w-8 text-blue-500" />
    </SidebarRow>
    <SidebarRow title="Settings">
      <CogIcon class="h-8 w-8 text-blue-500" />
    </SidebarRow>
    <SidebarRow
      title="Logout"
      @click="signOut"
    >
      <LogoutIcon class="h-8 w-8 text-blue-500" />
    </SidebarRow>
  </div>
</template>

<script>
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import {
  UserGroupIcon,
  CogIcon,
  LogoutIcon,
} from '@heroicons/vue/outline';
import { useRouter } from 'vue-router';
import SidebarRow from './SidebarRow.vue';

export default {
  name: 'Sidebar',
  components: {
    UserGroupIcon,
    CogIcon,
    LogoutIcon,
    SidebarRow,
  },
  setup() {
    const store = useStore();
    const router = useRouter();

    const user = computed(() => JSON.parse(JSON.stringify(store.getters.getUser)));

    const signOut = () => {
      store.dispatch('signOutAction');
    };

    return { user, signOut };
  },
};
</script>

<style scoped>
</style>
