<template>
  <div class="flex-grow flex-1 h-screen pb-44 pt-6 overflow-y-auto">
    <div class="mx-auto max-w-md md:max-w-lg lg:max-w-2xl">
      <div
        class="-my-2 sm:-mx-6 lg:-mx-8"
      >
        <div
          class="py-2 align-middle inline-block min-w-full sm:px-6
    lg:px-8"
        >
          <div
            class="shadow overflow-hidden border-b border-gray-200 dark:border-white-opposite
             sm:rounded-lg"
          >
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-500">
              <thead class="bg-gray-50 dark:bg-white-opposite">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs
                    font-medium text-gray-500 dark:text-gray-500-opposite
                     uppercase tracking-wider"
                  >
                    Name
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium
                    text-gray-500 uppercase dark:text-gray-500-opposite tracking-wider"
                  >
                    Username
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium
                    text-gray-500 uppercase dark:text-gray-500-opposite tracking-wider"
                  >
                    Email
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium
                     text-gray-500 uppercase dark:text-gray-500-opposite tracking-wider"
                  >
                    Role
                  </th>
                  <th
                    scope="col"
                    class="relative px-6 py-3"
                  >
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody
                class="bg-white divide-y divide-gray-200 dark:bg-white-opposite
              dark:divide-gray-500"
              >
                <tr
                  v-for="user in users"
                  :key="user?.userId"
                  :user="user"
                >
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img
                          class="h-10 w-10 rounded-full"
                          :src="user?.photoURL"
                          :alt="user?.displayName"
                          loading="lazy"
                        >
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900 dark:text-gray-500 ">
                          {{ user?.name }} {{ user?.surname }}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900 dark:text-gray-500">
                      {{ user?.displayName }}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ user?.email }}
                  </td>
                  <td
                    v-if="user?.admin"
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                  >
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full
                     bg-green-100 text-green-800 dark:bg-green-800 dark:text-green-100"
                    >
                      Admin
                    </span>
                  </td>
                  <td
                    v-if="!user?.admin"
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                  >
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full
                     bg-green-100 text-green-800 dark:bg-green-800 dark:text-green-100"
                    >
                      User
                    </span>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium
                   "
                  >
                    <div
                      class="cursor-pointer"
                      @click="toggleModal(user?.userId, user?.email)"
                    >
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-5 w-5"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1
                           1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1
                           1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7
                            8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1
                             1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          v-if="showModal"
          id="modal-id"
          class="min-w-screen h-screen animated fadeIn faster fixed
         left-0 top-0 flex justify-center items-center inset-0 z-50
          outline-none focus:outline-none"
        >
          <div class="absolute bg-black opacity-80 inset-0 z-0" />
          <div
            class="w-full  max-w-lg p-5 relative mx-auto my-auto
           rounded-xl shadow-lg  bg-white "
          >
            <div class="flex justify-end">
              <button @click="closeModal">
                <XIcon
                  class="
                      p-2
                      h-10
                      w-10
                      rounded-full
                      text-gray-700
                      hover:bg-gray-100
                    "
                />
                <button />
              </button>
            </div>
            <div class="text-center p-0 flex-auto justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-16 h-16 flex items-center text-red-500 mx-auto"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2
                  2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1
                   1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1
                    0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                />
              </svg>

              <h2 class="text-xl font-bold py-4 ">
                Are you sure?
                <p class="text-sm text-gray-500 px-8">
                  Do you really want to delete your account?
                  This process cannot be undone
                </p>
              </h2>
            </div>
            <div class="p-3  mt-2 text-center space-x-4 md:block">
              <button
                class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm
               shadow-sm font-medium tracking-wider border text-gray-600
                rounded-full hover:shadow-lg hover:bg-gray-100"
                @click="closeModal"
              >
                Cancel
              </button>
              <button
                class="mb-2 md:mb-0 bg-red-500 border border-red-500
               px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white
               rounded-full hover:shadow-lg hover:bg-red-600"
                @click="deleteUser()"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <Alert
        :group="group"
        :title="title"
        :text="text"
      />
    </div>
  </div>
</template>

<script lang="js">
import { ref, onMounted } from 'vue';
import { notify } from 'notiwind';
import {
  XIcon,
} from '@heroicons/vue/solid';
import Alert from './Notifications/Alert.vue';
import api from '../API';

export default {
  components: { Alert, XIcon },
  setup() {
    const users = ref([]);
    const userid = ref('');
    const username = ref('');
    const showModal = ref(false);
    // const filtersList = ref('');

    /* const removeEmployeeByObject = (userId) => {
      // doesnt work

      console.log('userlog: ', users.value.push(Object.
      values(users.value).filter((user) => user.userId !== userId)));
      console.log('oject', Object.values(users.value).filter((user) => user.userId !== userId));
      console.log(filtersList);
    }; */

    const toggleModal = (userToDelete, usernameDelete) => {
      showModal.value = true;
      userid.value = userToDelete;
      username.value = usernameDelete;
    };

    const closeModal = () => {
      showModal.value = false;
    };

    const getUser = async () => {
      await api.get('/users')
        .then((response) => {
          response.data.forEach((user) => {
            users.value.push(user);
            console.log(user);
          });
        })
        .catch((error) => {
          console.log(error);
        });
    };
    onMounted(() => {
      getUser();
    });

    const deleteUser = async () => {
      await api.delete(`/users/${userid.value}`).then((response) => {
        notify(
          {
            group: 'top-success',
            title: 'Success',
            text: `You delete user ${username.value} successful!`,
          },
          4000,
        );
        console.log(response);
        users.value = Object.values(users.value).filter((user) => user.userId !== userid.value);

        closeModal();
      })
        .catch((error) => {
          notify(
            {
              group: 'top-error',
              title: 'Error',
              text: error.message,
            },
            4000,
          );
          console.log(error);
        });
    };
    return {
      users, getUser, deleteUser, showModal, toggleModal, closeModal, userid, username,
    };
  },
  methods: {
  },

};

</script>

<style>

</style>
