<template>
  <div
    id="app"
    class="h-screen overflow-hidden"
    :class="{dark: isDarkModeActive}"
  >
    <div class="bg-gray-100 dark:bg-gray-100-opposite ">
      <router-view :key="$route.path" />
    </div>
  </div>
</template>

<script>
import { computed, onBeforeMount } from 'vue';
import { useStore } from 'vuex';

export default {
  setup() {
    const vuexStore = useStore();

    const isDarkModeActive = computed(() => vuexStore.getters.isDarkModeActive);
    onBeforeMount(() => {
      vuexStore.dispatch('authAction');
    });

    return {
      isDarkModeActive,
    };
  },

};
</script>

<style>
</style>
